<app-main-nav></app-main-nav>
<div class="container">
  <div class="info">
    <h3>Crie um currículo em apenas alguns minutos</h3>
    <h6>Desperte o interesse de qualquer empregador</h6>
    <ul>
      <li>
        <mat-icon>check</mat-icon
        ><a>Modelos acessíveis com um simples clique</a>
      </li>
      <li>
        <mat-icon>check</mat-icon><a>Formatos à medida das suas necessidades</a>
      </li>
      <li>
        <mat-icon>check</mat-icon
        ><a>Dicas de especialistas para criar o seu CV</a>
      </li>
    </ul>
    <div class="button">
      <button class="btn btn-dark">
        <a routerLink="/Authentication/User-Register">
          Crie uma conta para criar o seu CV
        </a>
      </button>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/Images/CV-BannerImage.jpg" />
  </div>
</div>
<br /><br /><br />

<div class="job-title">
  <h2>Consiga o <b>emprego</b></h2>
  <h4>
    A nossa ferramenta de criação de currículos foi concebida para ajudar.
  </h4>
</div>
<br />

<div class="cards">
  <div class="card">
    <h5>Não sabe por onde começar?</h5>
    <div class="card-body">
      <p>
        Uma boa maneira é selecionar um modelo que vá ao encontro das suas
        necessidades. Temos vários modelos diferentes que o ajudarão a começar.
      </p>
    </div>
  </div>
  <div class="card">
    <h5>Precisa de ajuda com a redação?</h5>
    <div class="card-body">
      <p>
        Os nossos especialistas redigiram exemplos específicos e sugestões para
        as várias profissões, que pode adicionar diretamente ao seu currículo.
      </p>
    </div>
  </div>
  <div class="card">
    <h5>Problemas com a formatação?</h5>
    <div class="card-body">
      <p>
        Eliminamos as frustrações da formatação. Os nossos modelos e ferramentas
        de formatação ajudam-no a obter facilmente o aspeto que procura.
      </p>
    </div>
  </div>
</div>
<br />
<div class="button">
  <button class="btn btn-dark">
    <a routerLink="/Authentication/User-Register">
      Crie uma conta para criar o seu CV
    </a>
  </button>
</div>
<br /><br /><br />

<div class="banner-title">
  <h2>Exemplo do que temos a oferecer</h2>
</div>
<br />
<div class="image-banner">
  <img src="../../assets/Images/cv-banner.jpg" />
</div>
